@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
# Colors Palete
  #030b3c
  #08022a
  #122a4c
  */

html {
  scroll-behavior: smooth;
}

.bg-image-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../public/group-working-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-image-main-service {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../public/pexels-anna-shvets.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
